RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

RewriteRule ^([a-z]+)\/?$ index.php?m=$1 [NC,L]
RewriteRule ^([a-z]+)\/?([a-z]+)\/?$ index.php?c=$1&m=$2 [NC,L]