{%  extends 'templates/indexs/index.twig' %}

{% block titulo_conteudo %}
    <a class="fa fa-user"></a>
     {{ titulo }}
{% endblock %}

{% block form_action %}
{% endblock %}
{% block form_id %}
{% endblock %}

{% block conteudo %}
    {% include 'templates/indexs/form.twig' %}
{% endblock %}