{% extends 'erros/erro.html.twig' %}

{% block mensagem %}
    <p><b>Erro Interno</b></p>
    <p>Desculpe pelo transtorno, parece que o servidor se comportou de maneira inesperada!</p>
    <p>
        Tente novamente mais tarde. Se o problema persistir entre em contato conosco
        <a href="/contato.php">suporte@rtdbrasil.org.br</a>
    </p>
{% endblock %}