{%  extends 'templates/indexs/index.twig' %}


{% block titulo_conteudo %}
    <a class="fas fa-university"></a>
    Listar bancos cadastrados na Central
{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-university"></i> Listas de Bancos relacionados à Central
                </div>
                <div class="card-body">
                    <table class="dataTable table table-hover" id="ListarBancosCentral">
                        <thead>
                        <tr>
                            <th>NI</th>
                            <th>CODIGO</th>
                            <th>DESCRICAO</th>
                            <th class="nosort">AÇÕES</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        var $table = Datatables.carregarTabela({
            id:'ListarBancosCentral',
            url:'/suporte/bancos-central/listar',
            colunas:[
                'ni',
                'codigo',
                'nome',
                'acao'
            ],
            ordem:[0,'asc'],
            buttons:[
                'pdf','csv'
            ]
        });

        $table.draw();

        Crud.deletar('.acao-bancos-central-deletar',$table);
    </script>
{% endblock %}