{%  extends 'templates/indexs/form-template-dashboard.twig' %}


{% block titulo_conteudo %}
    <a class="fa fa-users"></a>
    Formulário de Taxas de Conveniência
{% endblock %}

{% block erros %}

{% endblock %}

{% block conteudo %}

        {{ parent() }}
{% endblock %}

{% block scripts %}
    <script>
        let options = {
            rules:{
                descricao:{
                    validarNome:true
                }
            },
            messages:{
                descricao: {
                    validarNome: "O campo descrição contém caracteres não permitidos"
                }
            }
        }
        Crud.Save($('form').attr('id'),null,options);
    </script>
{% endblock %}