{% extends "templates/indexs/index.twig" %}

{% block conteudo %}
    <div class="card">
        <div class="card-header">
           <i class="fa fa-tachometer-alt"></i> Painel de Administração
        </div>
        <div class="card-body">
            <div class="p-4">
                <div class="row">
                    <div class="col-md-4  p-2 bg-secondary">
                        <div class="col-xs align-self-center text-white">
                            55
                        </div>
                        <div class="col-xs">
                            <h3 class="text-white"> Clientes </h3>
                        </div>
                    </div>
                    <div class="col-md-4 p-2 bg-warning">
                        <div class="col-xs align-self-center text-white">
                            5
                        </div>
                        <div class="col-xs">
                            <h3 class="text-white"> Serviços </h3>
                        </div>
                    </div>
                    <div class="col-md-4 p-2 bg-success">
                        <div class="col-xs align-self-center text-white">
                            100
                        </div>
                        <div class="col-xs">
                            <h3 class="text-white"> Cartórios </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}