<ul class="list-unstyled components" id="menuCartorio">
    <li>
        <a href="/cartorio" data-title="Painel Geral">
            <i class="fa fa-home"></i>
            Painel Geral
        </a>
    </li>
    <li>
        <a href="#ServicoBusca" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-info-circle"></i> Serviços</a>
        <ul id="ServicoBusca" class="collapse list-unstyled">
            <li>
                <a href="/cartorio/servico-de-busca">
                    <i class="fa fa-angle-right"></i> Serviço de Busca
                </a>
            </li>
            <li>
                <a href="/cartorio/registro-documentos">
                    <i class="fa fa-angle-right"></i> Registro de Documentos
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/cartorio/precisa-de-ajuda">
            <i class="fa fa-question-circle"></i>
            Precisa de Ajuda
        </a>
    </li>
</ul>
