<ul id="LinkFinanceiro" class="collapse list-unstyled">
    <li>
        <a href="#LinkTaxas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-percent"></i> Taxas Conveniência Virgencia</a>
        <ul id="LinkTaxas" class="collapse list-unstyled">
            <li>
                <a href="/financeiro/taxa-conveniencia-virgencia">
                    <i class="fa fa-angle-right"></i> Listar taxas
                </a>
            </li>
            <li>
                <a href="/financeiro/taxa-conveniencia-virgencia/cadastrar">
                    <i class="fa fa-angle-right"></i> Cadatrar nova taxa
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#LinkTipoTaxasCustas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-percent"></i> Tipos Taxas Custas</a>
        <ul id="LinkTipoTaxasCustas" class="collapse list-unstyled">
            <li>
                <a href="/financeiro/tipo-taxa-custa">
                    <i class="fa fa-angle-right"></i> Listar tipo taxas custas
                </a>
            </li>
            <li>
                <a href="/financeiro/tipo-taxa-custa/cadastrar">
                    <i class="fa fa-angle-right"></i> Cadatrar nova tipo taxa custas
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#LinkTaxasCustas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-percent"></i> Taxas Custas</a>
        <ul id="LinkTaxasCustas" class="collapse list-unstyled">
            <li>
                <a href="/financeiro/taxas-custas">
                    <i class="fa fa-angle-right"></i> Listar taxas custas
                </a>
            </li>
            <li>
                <a href="/financeiro/taxas-custas/cadastrar">
                    <i class="fa fa-angle-right"></i> Cadatrar nova taxa custa
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#LinkTipoPagamento" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-money-bill-alt"></i> Tipos Pagamentos</a>
        <ul id="LinkTipoPagamento" class="collapse list-unstyled">
            <li>
                <a href="/financeiro/tipos-pagamentos">
                    <i class="fa fa-angle-right"></i> Listar tipos pagamentos
                </a>
            </li>
            <li>
                <a href="/financeiro/tipos-pagamentos/cadastrar">
                    <i class="fa fa-angle-right"></i> Cadatrar novo
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#LinkTiposEstorno" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-sync"></i> Tipos Estorno</a>
        <ul id="LinkTiposEstorno" class="collapse list-unstyled">
            <li>
                <a href="/financeiro/tipos-estorno">
                    <i class="fa fa-angle-right"></i> Listar tipos
                </a>
            </li>
            <li>
                <a href="/financeiro/tipos-estorno/cadastrar">
                    <i class="fa fa-angle-right"></i> Cadatrar novo
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#LinkTiposReceitas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="far fa-folder-open"></i> Tipos Receitas</a>
        <ul id="LinkTiposReceitas" class="collapse list-unstyled">
            <li>
                <a href="/financeiro/tipos-receitas">
                    <i class="fa fa-angle-right"></i> Listar tipos receita
                </a>
            </li>
            <li>
                <a href="/financeiro/tipos-receitas/cadastrar">
                    <i class="fa fa-angle-right"></i> Cadatrar nava tipo receita
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#LinkCustosAdicionais" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dollar-sign"></i> Custos Adicionais</a>
        <ul id="LinkCustosAdicionais" class="collapse list-unstyled">
            <li>
                <a href="/financeiro/custos-adicionais">
                    <i class="fa fa-angle-right"></i> Listar Custos Adicionais
                </a>
            </li>
            <li>
                <a href="/financeiro/custos-adicionais/cadastrar">
                    <i class="fa fa-angle-right"></i> Cadatrar Custo Adicional
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#LinkCustosAdicionaisVigente" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dollar-sign"></i> Custos Adicionais Vigente</a>
        <ul id="LinkCustosAdicionaisVigente" class="collapse list-unstyled">
            <li>
                <a href="/financeiro/custo/adicional/vigente">
                    <i class="fa fa-angle-right"></i> Cadastrar
                </a>
            </li>
            <li>
                <a href="/financeiro/custo/adicional/vigente/listagem">
                    <i class="fa fa-angle-right"></i> Listar
                </a>
            </li>
        </ul>
    </li>


    <li>
        <a href="#Relatorios" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" ><i class="fa fa-file-alt text-white"></i> Relatórios</a>
        <ul id="Relatorios" class="collapse list-unstyled">
            <li>
                <a href="/financeiro/relatorios/estornos">
                    <i class="fa fa-angle-right"></i> Estornos
                </a>
            </li>
            <li>
                <a href="/financeiro/relatorios/multas">
                    <i class="fa fa-angle-right"></i> Multas
                </a>
            </li>
            <li>
                <a href="/financeiro/relatorios/pagamentos">
                    <i class="fa fa-angle-right"></i> Pagamentos
                </a>
            </li>
            <li>
                <a href="/financeiro/relatorios/receitas">
                    <i class="fa fa-angle-right"></i> Receitas
                </a>
            </li>
            <li>
                <a href="/financeiro/relatorios/recebiveis">
                    <i class="fa fa-angle-right"></i> Recebíveis
                </a>
            </li>
            <li>
                <a href="/financeiro/relatorios/repasses">
                    <i class="fa fa-angle-right"></i> Repasses
                </a>
            </li>
            <li>
                <a href="/financeiro/relatorios/taxas-custa">
                    <i class="fa fa-angle-right"></i> Taxas Custa
                </a>
            </li>

        </ul>
    </li>

    <li>
        <a href="#CanalDeVenda" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >Canais de Venda</a>
        <ul id="CanalDeVenda" class="collapse list-unstyled">
            <li>
                <a href="#participacao" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >
                    <i class="fas fa-briefcase text-white"></i> Participações
                </a>
                <ul id="participacao" class="collapse list-unstyled">
                    <li>
                        <a href="/financeiro/canal-de-venda/participacao">
                            <i class="fa fa-angle-right"></i> Cadastrar
                        </a>
                    </li>
                </ul>
                <ul id="participacao" class="collapse list-unstyled">
                    <li>
                        <a href="/financeiro/canal-de-venda/participacao/listar">
                            <i class="fa fa-angle-right"></i> Listar
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    <li>
        <a href="#imposto" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >Imposto</a>
        <ul id="imposto" class="collapse list-unstyled">
            <li>
                <a href="/financeiro/imposto">
                    <i class="fa fa-percent text-white"></i> Cadastrar
                </a>
            </li>
            <li>
                <a href="/financeiro/imposto/listagem">
                    <i class="fa fa-file-alt text-white"></i> Listar
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#imposto-vigencia" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >Imposto Vigência</a>
        <ul id="imposto-vigencia" class="collapse list-unstyled">
            <li>
                <a href="/financeiro/imposto/vigencia">
                    <i class="fa fa-percent text-white"></i> Cadastrar
                </a>
            </li>
            <li>
                <a href="/financeiro/imposto/vigencia/listagem">
                    <i class="fa fa-file-alt text-white"></i> Listar
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#custo-bancario" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >Custo Bancário</a>
        <ul id="custo-bancario" class="collapse list-unstyled">
            <li>
                <a href="/financeiro/custo/bancario">
                    <i class="fa fa-percent text-white"></i> Cadastrar
                </a>
            </li>
            <li>
                <a href="/financeiro/custo/bancario/listagem">
                    <i class="fa fa-file-alt text-white"></i> Listar
                </a>
            </li>
        </ul>
    </li>

</ul>