<ul class="list-unstyled components" id="menuCliente">
    <li>
        <a href="/clientes" data-title="Painel Geral">
            <i class="fa fa-home"></i>
            Painel Geral
        </a>
    </li>
    <li>
        <a href="#solicitarServicos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">
            <i class="fa fa-list-ul"></i>
            Solicitar Servicos
        </a>
        <ul id="solicitarServicos" class="collapse list-unstyled">
            <li>
                <a href="#menuTituloEDocumentos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-dot-circle-o"></i>
                    Titulos e Documentos
                </a>
                <ul id="menuTituloEDocumentos" class="collapse list-unstyled">

                        <li>
                            <a class="pl-3" href="/clientes/servicos/titulos-e-documentos/registro-e-averbacao">
                                <i class="fa fa-angle-right"></i> Registro e Averbação
                            </a>
                        </li>

                    <li>
                        <a class="pl-3" href="/clientes/servicos/titulos-e-documentos/busca-de-nomes">
                            <i class="fa fa-angle-right"></i> Busca de Nome
                        </a>
                    </li>

                    <li>
                        <a class="pl-3" href="/clientes/servicos/titulos-e-documentos/certidao">
                            <i class="fa fa-angle-right"></i> Certidão
                        </a>
                    </li>

                    <li>
                        <a class="pl-3" href="/clientes/servicos/titulos-e-documentos/notificacao-extrajudicial">
                            <i class="fa fa-angle-right"></i> Notificação Extrajudicial
                        </a>
                    </li>

                      <!--  <li>
                            <a href="/clientes/servicos/titulos-e-documentos/registro-e-averbacao/assinatura-de-contratos">
                                Assinatura de Contratos
                            </a>
                        </li>
                        <li>
                            <a href="/clientes/servicos/titulos-e-documentos/registro-e-averbacao/assinatura-de-contratos">
                                Registro e Averbação de Contratos
                            </a>
                        </li>
                        <li>
                            <a href="/clientes/servicos/titulos-e-documentos/registro-e-averbacao/assinatura-de-contratos">
                                Registro de Animais Domésticos
                            </a>
                        </li>
                        <li>
                            <a href="/clientes/servicos/titulos-e-documentos/registro-e-averbacao/assinatura-de-contratos">
                                Registro de Bicicletas
                            </a>
                        </li> -->
                </ul>
            </li>
           <!-- <li>
                <a href="/clientes/servicos/titulos-e-documentos/bens-e-garantias">
                    Bens e Garantias
                </a>
            </li>
            <li><a href="/clientes/servicos/titulos-e-documentos/notificacao-extrajudicial">Notificacao
                    Extrajudicial</a></li> -->
        </ul>
    </li>
    <li>
        <a href="#menuRegistroCivilDePessoasJuridicas" data-toggle="collapse" aria-expanded="false"
           class="dropdown-toggle">
            <i class="fa fa-university"></i>
            Registro Civil de Pessoas Jurídicas
        </a>
        <ul id="menuRegistroCivilDePessoasJuridicas" class="collapse list-unstyled">
            <li>
                <a href="#menuCNPJ" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false">
                    CNPJ
                </a>
                <ul class="collapse list-unstyled" id="menuCNPJ">
                    <li>
                        <a href="/clientes/servicos/registro-civil-de-pessoas-juridicas/consulta-de-disponibilidade">
                            Consulta de disponibilidade
                        </a>
                    </li>
                    <li>
                        <a href="/clientes/servicos/registro-civil-de-pessoas-juridicas/inscricao-de-cnpj">
                            Inscrição de CNPJ
                        </a>
                    </li>
                    <li>
                        <a href="/clientes/servicos/registro-civil-de-pessoas-juridicas/alteracao-de-cnpj">
                            Alteração de CNPJ
                        </a>
                    </li>
                    <li>
                        <a href="/clientes/servicos/registro-civil-de-pessoas-juridicas/baixa-de-cnpj">
                            Baixa de CNPJ
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="#menuRegistroAverbacaoCNPJ" class="dropdow-toggle" data-toggle="collapse"
                   aria-expanded="false">Registro e Averbação</a>
                <ul id="menuRegistroAverbacaoCNPJ" class="collapse list-unstyled">
                    <li>
                        <a href="/clientes/servicos/registro-civil-de-pessoas-juridicas/registro-eaverbacao/procuracoes">Procurações</a>
                    </li>
                    <li>
                        <a href="/clientes/servicos/registro-civil-de-pessoas-juridicas/registro-eaverbacao/atas-de-assembleia">
                            Atas de Assembléia
                        </a>
                    </li>
                    <li>
                        <a href="/clientes/servicos/registro-civil-de-pessoas-juridicas/registro-eaverbacao/estatutos-e-contratos-sociais">
                            Estatutos e Contratos Sociais
                        </a>
                    </li>
                    <li>
                        <a href="/clientes/servicos/registro-civil-de-pessoas-juridicas/registro-eaverbacao/outros-documentos">
                            Outros Documentos
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="#menuOutrosServicos" class="dropdow-toggle" data-toggle="collapse"
                   aria-expanded="false">Outros Serviços</a>
                <ul id="menuOutrosServicos" class="collapse list-unstyled">
                    <li>
                        <a href="/clientes/servicos/segunda-via-de-certidao">2ª Via de Certidão</a>
                    </li>
                    <li>
                        <a href="/clientes/servicos/livros-contabeis">
                            Livros Contábeis
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="#menuHistoricoSolicitacoes" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fa fa-sync-alt"></i>
            Meu histórico de
            solicitações</a>
        <ul id="menuHistoricoSolicitacoes" class="collapse list-unstyled">
            <li>
                <a href="/clientes/meu-historico-de-solicitacoes/em-andamento">
                    <i class="fa fa-circle-o"></i>
                    Em andamento
                </a>
            </li>
            <li>
                <a href="/clientes/meu-historico-de-solicitacoes/concluidas">
                    <i class="fa fa-circle-o"></i>
                    Concluídas
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/clientes/resumo-das-distribuicoes">
            <i class="fa fa-chart-line"></i>
            Resumo das Distribuições
        </a>
    </li>
    <li>
        <a href="/clientes/precisa-de-ajuda">
            <i class="fa fa-question-circle"></i>
            Precisa de Ajuda
        </a>
    </li>
</ul>
