<ul id="LinkSuporte" class="collapse list-unstyled">
    <li>
        <a href="#LinkCentral" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fa fa-cog"></i> Central
        </a>
        <ul id="LinkCentral" class="collapse list-unstyled">
            <li>
                <a href="#link-pessoas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-users"></i> Pessoas
                </a>

                <ul id="link-pessoas" class="collapse list-unstyled">
                    <li>
                        <a  href="#listasPessoas" data-toggle="collapse" class="dropdown-toggle" aria-expanded="false">
                            <i class="fa fa-angle-right"></i>  Listas
                        </a>
                        <ul id="listasPessoas" class="collapse list-unstyled">
                            <li>
                                <a href="/suporte/pessoa">
                                    <i class="fa fa-angle-right"></i>    Pessoas
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#cadastrar-pessoas" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" >
                            <i class="fa fa-angle-right"></i>  Cadastros
                        </a>
                        <ul id="cadastrar-pessoas" class="collapse list-unstyled">
                            <li>
                                <a href="/suporte/pessoa/cadastrar">
                                    <i class="fa fa-angle-right"></i> Pessoa
                                </a>
                            </li>
                            <li>
                                <a href="/suporte/pessoa/fisica/cadastrar">
                                    <i class="fa fa-angle-right"></i>  Pessoa Física
                                </a>
                            </li>
                            <li>
                                <a href="/suporte/pessoa/juridica/cadastrar">
                                    <i class="fa fa-angle-right"></i>   Pessoa Jurídica
                                </a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </li>
            <li>
                <a href="#linkEndereco" data-toggle="collapse" class="dropdown-toggle" aria-expanded="false">
                    <i class="fa fa-map-marker-alt"></i>    Endereço
                </a>
                <ul id="linkEndereco" class="collapse list-unstyled">

                    <li>
                        <a href="/suporte/pessoa/enderecos">
                            <i class="fa fa-angle-right"></i> Listar
                        </a>
                    </li>

                    <li>
                        <a href="/suporte/pessoa/endereco/cadastrar">
                            <i class="fa fa-angle-right"></i> Cadastrar
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#linkFormaContato" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-address-card"></i> Forma de Contato
                </a>
                <ul id="linkFormaContato" class="collapse list-unstyled">
                    <li>
                        <a href="/suporte/pessoa/forma-contato/cadastrar">
                            <i class="fa fa-angle-right"></i> Cadastrar
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#linkServicos" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-list-alt"></i> Serviços
                </a>
                <ul id="linkServicos" class="collapse list-unstyled">
                    <li>
                        <a href="/suporte/servico">
                            <i class="fa fa-angle-right"></i> Listar
                        </a>
                    </li>
                    <li>
                        <a href="/suporte/servico/cadastrar">
                            <i class="fa fa-angle-right"></i> Cadastrar
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>


    <li>
        <a href="#LinkFinanceiroSuporte" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fa fa-cog"></i>Financeiro
        </a>
        <ul id="LinkFinanceiroSuporte" class="collapse list-unstyled">
            <li>
                <a href="#linkTaxasConveniencia" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-dollar-sign"></i> Taxas de Convenciência
                </a>
                <ul id="linkTaxasConveniencia" class="collapse list-unstyled">
                    <li>
                        <a href="/suporte/taxa-conveniencia">
                            <i class="fa fa-angle-right"></i> Listar
                        </a>
                    </li>
                    <li>
                        <a href="/suporte/taxa-conveniencia/cadastrar">
                            <i class="fa fa-angle-right"></i> Cadastrar
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#LinkBancos" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-university"></i> Bancos
                </a>
                <ul id="LinkBancos" class="collapse list-unstyled">
                    <li>
                        <a href="/suporte/bancos">
                            <i class="fa fa-angle-right"></i> Listar
                        </a>
                    </li>
                    <li>
                        <a href="/suporte/bancos/cadastrar">
                            <i class="fa fa-angle-right"></i> Cadastrar
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#bancoCentral" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-university"></i> Bancos Central
                </a>
                <ul class="collapse list-unstyled" id="bancoCentral">
                    <li>
                        <a href="/suporte/bancos-central">
                            <i class="fa fa-angle-right"></i> Listar
                        </a>
                    </li>
                    <li>
                        <a href="/suporte/bancos-central/cadastrar">
                            <i class="fa fa-angle-right"></i> Cadastrar
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#LinkTarifasbancarias" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-sync-alt"></i> Tarifas Bancárias
                </a>
                <ul class="collapse list-unstyled" id="LinkTarifasbancarias">
                    <li>
                        <a href="/suporte/tarifas-bancarias">
                            <i class="fa fa-angle-right"></i> Listar
                        </a>
                    </li>
                    <li>
                        <a href="/suporte/tarifas-bancarias/cadastrar">
                            <i class="fa fa-angle-right"></i> Cadastrar
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#CanaisDeVenda" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-bullhorn"></i> Canais de Venda
                </a>
                <ul id="CanaisDeVenda" class="collapse list-unstyled">
                    <li>
                        <a href="/suporte/canal-de-venda">
                            <i class="fa fa-angle-right"></i> Listar
                        </a>
                    </li>
                    <li>
                        <a href="/suporte/canal-de-venda/cadastrar">
                            <i class="fa fa-angle-right"></i> Cadastrar
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#ClientesFaturados" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-sync-alt"></i> Clientes Faturados
                </a>
                <ul id="ClientesFaturados" class="collapse list-unstyled">
                    <li>
                        <a href="/suporte/clientes-faturados">
                            <i class="fa fa-angle-right"></i> Listar
                        </a>
                    </li>
                    <li>
                        <a href="/suporte/clientes-faturados/cadastrar">
                            <i class="fa fa-angle-right"></i> Cadastrar
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>